.lock{
	overflow: hidden;
}
.popup{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	overflow: auto;
	visibility: hidden;
	&__title{
		font-family: 'Jeles';
		font-size: 24px;
		text-align: center;
		line-height: 34px;
	}
	&__text{
		margin: 20px 0;
		font-family: 'Jeles';
		text-align: center;
		line-height: 24px;
	}
	&__button{
		width: 210px;
		margin: 80px auto 0;
		line-height: 46px;
		border: 3px solid #000;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
	}
	&__form{
		&__body{
			@media(--tabletandless){
				flex-direction: column;
			}
		}
	}
}
.popup__overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.popup.open{
	visibility: visible;
	animation: fadeIn .5s;
}
.popup__content{
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	width: 60%;
	padding: 30px 5%;
	margin: 20px auto;
	background: #fff;
	&__body{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&__col{
			width: 45%;
			@media(--tabletandless){
				width: 100%;
			}
		}
	}
	@media(--tabletandless){
		margin: 0 auto;
		padding: 20px;
		width: 90%;
		height: auto;
	}
}
.popup__close{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}