.form{
	width: 100%;
}
.form__fieldset{
	margin: 20px 0;
}
.form__label{
	display: block;
}
.form__input{
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin-bottom: 20px;
	padding: 0px 15px;
	border: 0;
	background: #fbf8f8;
	color: #666;
	font-family: 'TipoPepel';
	font-weight: 400;
	font-size: 16px;
	&_date{
		margin-bottom: 0;
	}
	@media(--tabletandless){
		height: 40px;
	}
}
.form__input_textarea{
	height: auto;
	padding: 10px;
	resize: vertical;
}
.form__date{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	&:after{
		width: 27px;
		height: 27px;
		content: "";
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translate(0, -50%);
		background-image: url('img/i-calendar.png');
	}
}

.form__button{
	display: block;
	width: 244px;
	height: 50px;
	margin: 0 auto;
	border: 0;
	background-color: #ffb400;
	font-family: 'TipoPepel';
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	@media(--tabletandless){
		width: 100%;
		height: 42px;
	}
}