.page{
	&:not(&_active){
		display: none;
	}
	&__inner_main{
		animation: fadeIn 4s ease-out;
	}
	&_active{
		&.page_inner{
			animation: none;
		}
	}
	@media(--tabletandless){
		margin-bottom: 80px;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}