.select{
	position: relative;
}
.select__selected{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin-bottom: 20px;
	padding: 0px 15px;
	border: 0;
	background: #fbf8f8;
	color: #aaa;
	font-family: 'TipoPepel';
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	&:after{
		content:"";
		width: 28px;
		height: 25px;
		position: absolute;
		top: 50%;
		right: 15px;
		background-image: url('img/i-select.png');
		transform: translate(0, -50%);
	}
}
.select__list{
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	min-width: 100%;
	line-height: 48px;
	visibility: hidden;
	background: #fbf8f8;
	transform: translate(0, 100%);
	color: #ccc;
	font-family: 'TipoPepel';
	font-weight: 400;
	font-size: 16px;
	z-index: 2;
}
.select__list_pos_down{
	top: 100%;
	margin-top: 10px;
}
.select__list_pos_up{
	bottom: 100%;
	margin-bottom: 10px;
}
.select__list_pos_left{
	left: 0;
	margin-left: 10px;
}
.select__list_pos_right{
	right: 0;
	margin-right: 10px;
}
.select__item{
	padding: 0 15px;
	white-space: nowrap;
	box-shadow: 0 0 1px #ccc;
	cursor: pointer;
}
.select__item.selected,
.select__item:hover{
	background: #777;
}
.select.open .select__list{
	visibility: visible;
}