@font-face{
	font-family: 'Future';
	font-style: normal;
	font-weight: 900;
	src: url(fonts/BlackFuture.woff) format('woff');
}
@font-face{
	font-family: 'Catorze27';
	font-style: normal;
	font-weight: 600;
	src: url(fonts/Catorze27Style1-Samibold.woff) format('woff');
}
@font-face{
	font-family: 'Catorze27';
	font-style: normal;
	font-weight: 900;
	src: url(fonts/Catorze27Style1-Black.woff) format('woff');
}
@font-face{
	font-family: 'Jeles';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/JelesRegularItalic.woff) format('woff');
}
@font-face{
	font-family: 'Jeles';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/JelesRegular.woff) format('woff');
}
@font-face{
	font-family: 'TipoPepel';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/TipoPepel-CintaBook.woff) format('woff');
}
@font-face{
	font-family: 'TipoPepel';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/TipoPepel-CintaRegular.woff) format('woff');
}
@font-face{
	font-family: 'TipoPepel';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/TipoPepel-CintaRegular-Bold.woff) format('woff');
}