.main{
	height: 100vh;
	&__aside{
		position: relative;
		margin-bottom: 70px;
		box-sizing: border-box;
		padding: 40px 50px;
		max-width: 380px;
		margin-left: -50px;
		color: #fff;
		text-align: center;
		&__body{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
		&__the{
			font-family: 'Future';
			font-size: 100px;
			line-height: 100px;
			@media(--tabletandless){
				line-height: 50px;
			}
		}
		&__title{
			font-family: 'Catorze27';
			font-size: 130px;
			font-weight: 900;
			@media(--tabletandless){
				line-height: 100px;
				margin-bottom: 30px;
			}
		}
		&__description{
			padding: 20px 0;
			font-family: 'Jeles';
			font-style: italic;
			line-height: 20px;
		}
		&__button{
			display: block;
			max-width: 200px;
			min-width: 200px;
			margin: 0 auto;
			box-sizing: border-box;
			padding: 5px 0;
			text-decoration: none;
			border: 3px solid #fff;
			text-align: center;
			cursor: pointer;
			&:not(:last-child){
				margin-bottom: 20px;
			}
			&_yellow{
				border-color: #d8ff00;
				color: #000;
			}
			&:hover{
				border-color: #d8ff00;
			}
			&__info{
				font-family: 'TipoPepel';
				font-weight: 600;
				font-size: 14px;
				color: #ffc800;
			}
			&__text{
				font-family: 'TipoPepel';
				font-size: 22px;
				font-weight: 700;
				color: #fff;
			}
		}
		&_venue{
			background-color: rgba(57, 8, 47, 0.5);
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 1000%;
				height: 100%;
				transform: translate(-100%, 0);
				background-color: rgba(57, 8, 47, 0.5);
			}
		}
		&_food{
			background-color: rgba(29, 49, 0, 0.6);
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 1000%;
				height: 100%;
				transform: translate(-100%, 0);
				background-color: rgba(29, 49, 0, 0.6);
			}
		}
		&_party{
			background-color: rgba(119, 14, 40, 0.6);
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 1000%;
				height: 100%;
				transform: translate(-100%, 0);
				background-color: rgba(119, 14, 40, 0.6);
			}
		}
		@media(--tabletandless){
			max-width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			padding: 40px 0;
			&:after{
				opacity: 0;
			}
			&:before{
				opacity: 0;
			}
		}
	}
	&__content{
		display: flex;
		justify-content: center;
		margin-right: 8%;
		margin-left: 8%;
		margin-bottom: 70px;
		box-sizing: border-box;
		&__body{
			box-sizing: border-box;
			max-width: 660px;
			padding: 40px 50px;
			&_venue{
				background-color: rgba(57, 8, 47, 0.5);
				&:before{
					background-color: rgba(57, 8, 47, 0.5);
				}
				&:after{
					background-color: rgba(57, 8, 47, 0.5);
				}
			}
			&_food{
				background-color: rgba(29, 49, 0, 0.6);
				&:before{
					background-color: rgba(29, 49, 0, 0.6);
				}
				&:after{
					background-color: rgba(29, 49, 0, 0.6);
				}
			}
			&_party{
				background-color: rgba(119, 14, 40, 0.6);
				&:before{
					background-color: rgba(119, 14, 40, 0.6);
				}
				&:after{
					background-color: rgba(119, 14, 40, 0.6);
				}
			}
			@media(--tabletandless){
				max-width: 100%;
				padding: 40px 0;
				&:before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 1000%;
					height: 100%;
					transform: translate(-100%, 0);
				}
				&:after{
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					width: 1000%;
					height: 100%;
					transform: translate(100%, 0);
				}
			}
		}
		@media(--smalldesktop){
			margin-left: 0;
		}
		@media(--tabletandless){
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	@media(--tabletandless){
		flex-direction: column;
		height: 100%;
	}
}