.header{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	text-align: center;
	z-index: 2;
	&__logo{
		@media(--tabletandless){
			transform: scale(0.6);
		}
	}
	&__menu{
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translate(0, -50%) scale(0.8);
		filter: brightness(0);
	}
	@media(--tabletandless){
		display: block;
	}
}
.page_main.page_active + .header{
	display: none;
}