.venue{
	&__info{
		text-align: center;
		color: #fff;
	}
	&__title{
		&__for{
			margin-bottom: 10px;
			font-family: 'Future';
			font-size: 50px;
		}
		&__text{
			font-family: 'Catorze27';
			font-size: 50px;
		}
	}
	&__description{
		margin: 20px 0;
		font-family: 'Jeles';
		font-size: 15px;
		line-height: 24px;
		color: #fff;
		text-align: center;
		&_big{
			font-size: 18px;
		}
	}
}