.g-page{
	position: relative;
	min-width: 320px;
	background: #fff;
	height: 100vh;
	font-family: 'TipoPepel';
	font-weight: 400;
	font-size: 16px;
	&__content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-x: hidden;
	}
}