[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-close:before {
	width: 23px;
	height: 23px;
	background-position: -99px -191px;
}
.i-info:before {
	width: 26px;
	height: 56px;
	background-position: 0px -191px;
}
.i-logo-footer:before {
	width: 130px;
	height: 52px;
	background-position: -238px 0px;
}
.i-logo-mobile:before {
	width: 217px;
	height: 87px;
	background-position: 0px -99px;
}
.i-logo:before {
	width: 233px;
	height: 94px;
	background-position: 0px 0px;
}
.i-map-big:before {
	width: 68px;
	height: 68px;
	background-position: -238px -57px;
}
.i-map:before {
	width: 32px;
	height: 32px;
	background-position: -62px -191px;
}
.i-menu-mobile:before {
	width: 45px;
	height: 45px;
	background-position: -238px -130px;
}
.i-menu:before {
	width: 22px;
	height: 22px;
	background-position: -346px -130px;
}
.i-phone:before {
	width: 47px;
	height: 48px;
	background-position: -311px -57px;
}
.i-social-fb-big:before {
	width: 26px;
	height: 47px;
	background-position: -31px -191px;
}
.i-social-fb:before {
	width: 8px;
	height: 15px;
	background-position: -222px -99px;
}
.i-social-trip-big:before {
	width: 53px;
	height: 32px;
	background-position: -288px -130px;
}
.i-social-trip:before {
	width: 17px;
	height: 10px;
	background-position: -333px -110px;
}
.i-sound:before {
	width: 17px;
	height: 14px;
	background-position: -311px -110px;
}
