[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/{{spritesheet.image}});
}
{{#sprites}}
.{{name}}:before {
	width: {{px.width}};
	height: {{px.height}};
	background-position: {{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}