.booking{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	&__body{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
	&__close{
		margin-top: 10px;
		color: #fff;
		text-align: center;
		width: 100%;
		text-decoration: underline;
		cursor: pointer;
	}
	&:not(.active){
		display: none;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		cursor: pointer;
	}
}