.intro{
	position: relative;
	&__title{
		padding: 40px 0 0;
		text-align: center;
		font-family: 'Jeles';
		font-size: 52px;
		font-style: italic;
		text-transform: uppercase;
		@media(--mobile){
			font-size: 46px;
		}
	}
	&__subtitle{
		margin: 25px 0;
		text-align: center;
		font-family: 'Jeles';
		line-height: 22px;
	}
	&__pages{
		overflow: hidden;
		@media(--tabletandless){
			flex-direction: column;
		}
	}
	&__body{
		&__item{
			box-sizing: border-box;
			position: relative;
			width: 28%;
			height: 280px;
			text-decoration: none;
			overflow: hidden;
			&__bg{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				z-index: -1;
				
				&:after{
					
				}
			}
			&__content{
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				text-align: center;
				color: #fff;
				&__the{
					font-family: 'Future';
					font-size: 60px;
					text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
				}
				&__name{
					font-family: 'Catorze27';
					font-size: 100px;
					font-weight: 900;
					text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
				}
			}
			&:hover{
				img{
					transform: scale(1.1, 1.1);
				}
			}
			@media(--tabletandless){
				display: block;
				padding: 30px 0;
				width: 100%;
				height: auto;
				img{
					height: 100%;
				}
			}
		}
	}
	&__button{
		display: block;
		max-width: 200px;
		min-width: 200px;
		margin: 0 auto 30px;
		box-sizing: border-box;
		padding: 5px 0;
		text-decoration: none;
		border: 3px solid #ffcb0d;
		text-align: center;
		cursor: pointer;
		&:not(:last-child){
			margin-bottom: 25px;
		}
		&:hover{
			border-color: #d8ff00;
		}
		&__info{
			font-family: 'TipoPepel';
			font-weight: 600;
			font-size: 14px;
			color: #000;
		}
		&__text{
			font-family: 'TipoPepel';
			font-size: 22px;
			font-weight: 700;
			color: #ffa800;
		}
	}
}