.bg{
	&__image{
		z-index: -1;
		position: fixed 0 0 0 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transform: scale(1.15, 1.15);
		animation: animatedBackground 10s ease-out;
		&__intro{
			position: absolute;
			left: 50%;
			max-width: 100%;
			width: 1240px;
			height: 399px;
			margin-left: -620px;
			z-index: -1;
			animation: fadeIn2 1s ease-out;
		}
		&:not(.page_active){
			animation: animatedBackground 10s ease-out;
		}
	}
	
	@media(--tabletandless){
		overflow-x: hidden;
		margin-top: 80px;
	}
}
@keyframes animatedBackground {
	0% {
		transform: scale(1, 1)
	}
	100% {
		transform: scale(1.15, 1.15)
	}
}