.food{
	&__chefs{
		margin-top: 15px;
		&__item{
			text-align: center;
			color: #fff;
			&__face{
				width: 120px;
				height: 120px;
				margin-bottom: 20px;
				border-radius: 50%;
				overflow: hidden;
				border: 3px solid #fff;
				img{
					border-radius: 50%;
				}
			}
			&__name{
				padding-bottom: 5px;
				font-family: 'Jeles';
				font-size: 10px;
				text-transform: uppercase;
			}
			&__firstname{
				font-family: 'Jeles';
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		&__and{
			color: #fff;
			font-family: 'Jeles';
			font-size: 50px;
			line-height: 126px;
		}
		@media(--tabletandless){
			flex-direction: column;
			align-items: center;
		}
	}
	&__info{
		text-align: center;
		color: #fff;
	}
	&__title{
		&__for{
			margin-top: 20px;
			margin-bottom: 10px;
			font-family: 'Future';
			font-size: 50px;
		}
		&__text{
			font-family: 'Catorze27';
			font-size: 50px;
		}
	}
	&__description{
		margin: 20px 0;
		font-family: 'Jeles';
		font-size: 15px;
		line-height: 20px;
		&_big{
			font-size: 18px;
		}
	}
}