.info{
	&__text{
		font-family: 'TipoPepel';
		text-transform: uppercase;
		line-height: 20px;
		font-size: 14px;
		&__bold{
			font-weight: 600;
		}
		&__link{
			color: #000;
			text-decoration: none;
		}
		&__gray{
			color: #706e61;
		}
		@media(--smalldesktop){
			font-size: 12px;
		}
		@media(--tabletandless){
			font-size: 20px;
		}
	}
	&__social{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		&__link{
			display: block;
			font-family: 'TipoPepel';
			font-size: 12px;
			text-decoration: none;
			&:not(:last-child){
				margin-bottom: 5px;
			}
			&_trip{
				color: #8cdb69;
			}
			&_fb{
				color: #aa98fa;
			}
			&_big{
				width: 50%;
				font-size: 16px;
				margin-right: 0 !important;
			}
			&_inline{
				display: flex;
				width: 100%;
				margin-top: 20px;
				line-height: 22px;
				color: #ef7c70;
			}
			&__icon{
				display: inline-block;
				padding-bottom: 2px;
				margin-right: 5px;
				width: 22px;
				line-height: 20px;
				text-align: center;
				border-radius: 50%;
				&_big{
					width: 66px;
					height: 66px;
					line-height: 66px;
				}
				&_trip{
					background-color: #8cdb69;
				}
				&_fb{
					background-color: #aa98fa;
				}
				&_map{
					margin-right: 5px;
				}
			}
			@media(--tabletandless){
				&:not(:last-child){
					margin-right: 20px;
				}
			}
		}
		@media(--tabletandless){
			flex-direction: row;
		}
	}
	&__button{
		width: 20%;
		text-align: center;
		font-family: 'TipoPepel';
		font-size: 20px;
		font-weight: 600;
		line-height: 50px;
		color: #272615;
		text-decoration: none;
		background-color: #ffc800;
		cursor: pointer;
		&:hover{
			background-color: #ffc844;
		}
		&_close{
			background-color: #fff;
			border: 2px solid #000;
		}
		@media(--tabletandless){
			width: 50%;
		}
		@media(--mobile){
			width: 60%;
		}
	}
	&__links{
		display: flex;
		&__link{
			display: block;
			width: 70px;
			height: 70px;
			margin-right: 30px;
			text-align: center;
			line-height: 70px;
			border-radius: 50%;
			background-color: #000;
			@media(--mobile){
				margin-right: -20px;
				transform: scale(0.5);
			}
		}
		&__info{
			cursor: pointer;
		}
	}
	&_block{
		display: none;
	}
	@media(--tabletandless){
		display: none;
		&_block{
			display: none;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 10% 3%;
			box-sizing: border-box;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			font-size: 16px;
			background-color: #fff;
			z-index: 11;
			&.active{
				display: flex;
			}
		}
	}
	&_mobile{
		display: none;
		@media(--tabletandless){
			display: flex;
			height: 70px;
		}
	}
}
.booking-details{
	position: absolute;
}