/*vars*/
:root{
	--content: 1182px;
	
	--transtion: .3s;
	
	--color__: #000;
}

/*media vars*/
@custom-media --smalldesktop (max-width:1199px) and (min-width: 1024px);
@custom-media --tablet (max-width:1023px) and (min-width: 640px);
@custom-media --tabletandless (max-width:1023px);
@custom-media --mobile (max-width:639px);

@media (--smalldesktop){
	:root{
		--content: 980px;
	}
}
@media (--tablet){
	:root{
		--content: 580px;
	}
}
@media (--mobile){
	:root{
		--content: 300px;
	}
}

/*mixins*/