.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 10px 0;
	background-color: #fff;
	z-index: 10;
	&__col{
		@media(--tabletandless){
			margin-bottom: 10px;
		}
	}
	@media(--tabletandless){
		position: fixed;
		padding: 10px 0;
	}
}