.slider{
	&__item{
		&__photo{
			border: 6px solid #fff;
		}
		&__text{
			padding: 20px 0;
			font-family: 'Jeles';
			line-height: 20px;
			color: #000;
			text-align: center;
			background-color: #fff;
		}
		&__title{
			padding-top: 10px;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Jeles';
			font-style: italic;
			font-size: 50px;
			color: #fff;
			&__sup{
				display: inline-block;
				padding-top: 2px;
				vertical-align: top;
				font-size: 60%;
			}
		}
	}
	img{
		height: auto;
	}
}
.owl-controls{
	display: flex;
	flex-direction: column-reverse;
	margin-top: 20px;
}
.owl-dots{
	display: flex;
	justify-content: center;
	margin-left: -6px;
}
.owl-dots .owl-dot{
	content: "";
	width: 14px;
	height: 14px;
	background-color: #d9d9d9;
	border-radius: 50%;
	margin-left: 6px;
	&.active{
		background-color: #ffc800;
	}
}
.owl-nav{
	display: flex;
	justify-content: center;
	margin-top: 8px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	text-decoration: underline;
}
.owl-prev{
	position: relative;
	padding-right: 15px;
	margin-right: 10px;
	&:after{
		content: "-";
		display: inline-block;
		position: absolute;
		right: 0;
	}
}