.set{
	align-items: center;
	position: absolute;
	top: 45px;
	right: 0;
	z-index: 2;
	&__item{
		width: 24px;
		padding-bottom: 3px;
		line-height: 22px;
		text-align: center;
		border-radius: 50%;
		&:not(:last-child){
			margin-right: 6px;
		}
		&_sound{
			margin-top: -2px;
			background-color: #d8ff00;
			cursor: pointer;
			i{	
				padding-top: 1px;
				padding-right: 1px;
				transform: scale(0.9);
			}
			&:not(.active){
				opacity: 0.2;
			}
		}
	}
	@media(--tabletandless){
		display: none;
	}
}