<body class="markdown">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit eveniet, officia. Quisquam velit, possimus soluta in maiores fuga libero, earum voluptatem magni, quaerat ex doloremque quibusdam nemo veniam voluptas.</p>
	<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, distinctio est at quaerat dolorem blanditiis nulla magnam eligendi fugiat debitis maiores aliquam reiciendis voluptatum accusantium, provident. Expedita iste reiciendis molestiae.</a>
	<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas voluptatem veniam, aspernatur placeat incidunt eum et adipisci? Esse atque officia, sequi explicabo quidem rerum dolores perspiciatis velit cupiditate nemo.</blockquote>
	<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia tempore et magni animi, minima veritatis a voluptate, quos ab adipisci odio repudiandae, consequatur, molestias assumenda veniam magnam ipsam soluta necessitatibus.</strong>
	<mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quos quaerat, quasi itaque temporibus, quia corrupti veritatis dolore cum numquam, facilis eligendi velit repellendus eaque unde. Saepe, pariatur obcaecati reiciendis?</mark>
</body>
<link rel="stylesheet" href="markdown.css">