.grid{
	display: flex;
	&_justify{
		&_between{
			justify-content: space-between;
		}
		&_center{
			justify-content: center;
		}
		&_around{
			justify-content: space-around;
		}
		&_start{
			justify-content: flex-start;
		}
	}
	&_align_center{
		align-items: center;
	}
	&_align_stretch{
		align-items: stretch;
	}
	&_dir_column{
		flex-direction: column;
	}
	&_wrap{
		flex-wrap: wrap;
	}
	
	/*elements*/
	&__col{
		&._long{
			flex: 1;
		}
		&._half{
			flex: 1 50%;
		}
	}
}